{% extends 'default.html.twig' %}

{% block title %} Products {% endblock %}

{% block content %}
    <h1 class="mt-4 mb-5" align="center">Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if product.productImages is not null %}
                        {% set fullImagePath = 'assets/main/img/gallery/' %}
                        {% set fullImagePath = fullImagePath ~ product.productImages|first|trim(' ') %}
                        <img width="250" height="200" src="{{ asset(fullImagePath) }}" alt="{{ product.name }}"
                             class="card-img-top">
                    {% else %}
                        <img width="250" height="200"  src="{{ asset('assets/main/img/250x200.png') }}" alt="{{ product.name }}"
                             class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('detroduct', {productCode:product.code}) }}"
                               class="bt-red bt-5">View details</a>
                        </div>
                        <br>
                        <div class="d-flex justify-content-between align-item-center">
                            {% if app.user %}
                                <div class="left">
                                    <a href="{{ path('cart_add', {'productCode':product.code}) }}" class="card-header bg-dark text-white"
                                       id="add_cart" data-product-code="{{ product.code }}">
                                        <i class="bi bi-cart-fill"></i>
                                        Add
                                    </a>
                                </div>
                            {% else %}
                                <div class="right">
                                    <a href="{{ path('app_login', {'productCode':product.code}) }}" class="card-header bg-dark text-white"
                                       id="add_cart">
                                        <i class="bi bi-cart-fill"></i>
                                        Add
                                    </a>
                                </div>
                            {% endif %}
                            <span class="h5 mt-auto">{{ product.price }} $</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include '/parts/pagination.html.twig' %}

    {% if app.user %}
        <script>
            async function addCart(productCode) {
                let url = "{{ path("cart_add", {'productCode': 'PRODUCT_CODE'}) }}".replace('PRODUCT_CODE', productCode);
                return await fetch(url, {method: 'POST'});
            }

            $(document).on('click', '#add_cart', function (e) {
                e.preventDefault();
                addCart($(this).data('product-code'))
                    .then(function (res) {
                        console.log(res.status);
                        if (res.status === 400) {
                            alert('We dont have so many products');
                        } else if (res.status === 200) {
                            alert('Product added to cart');
                            showCart();
                        }
                    })
                    .catch(function () {
                        console.log("You died.")
                    });
            })
        </script>
    {% endif %}
{% endblock %}